.listings_skeleton
  .ant-skeleton-content
  .ant-skeleton-title
  + .ant-skeleton-paragraph {
  margin-top: 12px;
}

.listings_skeleton .ant-divider-horizontal {
  margin: 12px 0;
}

.listings_skeleton .listings_skeleton__alert {
  margin-bottom: 20px;
}
